body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top: 50px;
}

.main-info {
  padding: 40px 15px;
  text-align: center;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

#statestring {
  padding-bottom: 40px;
}